<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de Administrador admin{{user}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="admin.email" type="email" placeholder="Correo Electrónico"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input [(ngModel)]="admin.fullName" type="text" placeholder="Nombre Completo"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input [(ngModel)]="admin.phone" type="tel" placeholder="Teléfono"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Ubicación</ion-label>
        <ion-input [(ngModel)]="admin.location" type="text" placeholder="Ubicación"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">País</ion-label>
        <ion-input [(ngModel)]="admin.country" type="text" placeholder="País"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">password</ion-label>
        <ion-input [(ngModel)]="admin.password" type="text" placeholder="País"></ion-input>
      </ion-item>
  
      
  
      <!-- Otros campos y inputs que desees -->
  
      <ion-button expand="block" (click)="addUser()">Agregar</ion-button>
     
    </ion-card-content>
    <ion-item>
      <ion-label color="danger">{{this.user}}</ion-label>
    </ion-item>
  </ion-card>
  

  <ion-item>
    <ion-label position="stacked">email</ion-label>
    <ion-input (ngModel)="admin.email" type="text" placeholder="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input (ngModel)="admin.password" type="text" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-button expand="block"(click)="login()">Login</ion-button>
  <ion-input type="text" placeholder="Awesome Input">{{user}}</ion-input>
</ion-content>
