
<ion-content>

<ion-row>

  <!-- Login -->
  <ion-col size="3" >
    <div style="background-color: #FFFFFF; padding: 30px 0px;" class="ion-text-center">
      <img src="../../assets//img/logo-fondo-blanco.png" width="300px">
    </div>
    <ion-item lines="none" *ngIf="!Recover">
      <ion-label position="stacked" class="ion-padding-bottom">Email</ion-label>
      <ion-input type="text" [(ngModel)]="admin.email"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="!Recover">
      <ion-label position="stacked" class="ion-padding-bottom">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="admin.password"></ion-input>

      <ion-text color="danger" *ngIf="!Recover" class="ion-padding-top"
      (click)="showRecover()">
        Recuperar contraseña
    </ion-text>
    </ion-item>




    <div class="ion-padding" *ngIf="Recover">
      <ion-list style="background: transparent;">
        <ion-item  lines="none" >
          
          <ion-input   type="email" placeholder="hola5" [(ngModel)]="admin.email">
          </ion-input>
        </ion-item>
      

        <div class="ion-text-center">
          <ion-button color="dark" shape="round" (click)="recoveryPass()" size="medium" class="text-uppercase">
           hola5
           </ion-button>
           <ion-button fill="outline" (click)="showRecover()" *ngIf="Recover" size="medium" color="danger" shape="round"  >
       hola6</ion-button>
        </div>
      </ion-list>
      
      
    </div>
  </ion-col>


  <!-- Fondo -->
  <ion-col size="9" class="ion-no-padding">
    <div class="fondo-login" style="background-image: url(../../../assets/img/fondo-login.jpg);"></div>
  </ion-col>


  
</ion-row>











  <!-- <ion-grid>
    <ion-row>
      <ion-col *ngIf="!Recover" size-xs="12" size-sm="12" size-md="4" size-lg="3">
        <div style="background-color: #FFFFFF; padding: 30px 0px;" class="ion-text-center">
          <img src="../../assets//img/logo.jpg" width="180px">
        </div>



        <div class="title-login ion-padding ion-text-center">
          <p>
           hola
          </p>
        </div>

        <ion-list style="background: transparent;">
          <ion-item lines="none">
            <ion-label position="stacked" class="label-form">Email</ion-label>
            <ion-input type="text" [(ngModel)]="admin.email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked" class="label-form">Password</ion-label>
            <ion-input type="password" [(ngModel)]="admin.password"></ion-input>
          </ion-item>
          <p style="cursor:pointer;font-size: .8em !important;color:rgb(0, 0, 0);text-align: right;margin-right: 20px;"
          (click)="showRecover()">
            hola2
          </p>
          <div class="ion-padding">
            <ion-button color="primary" size="medium" shape="round" expand="block" (click)="login()">
            hola3
            </ion-button>
            <ion-button color="danger" size="medium" shape="round" expand="block" (click)="logout()">
              cerrar
              </ion-button>
          </div>
        
        </ion-list>
      </ion-col>

      <ion-col *ngIf="Recover" size-xs="12" size-sm="12" size-md="4" size-lg="3">
        <div style="background-color: #FFFFFF; padding: 30px 0px;" class="ion-text-center">
          <img src="../../assets//img/logo.jpg" width="180px">
        </div>
  

      <div class="title-login ion-padding ion-text-center">
              <p>
                hola4
              </p>
            </div>
  
          <div class="ion-padding" >
            <ion-list style="background: transparent;">
              <ion-item  lines="none" >
                
                <ion-input   type="email" placeholder="hola5" [(ngModel)]="admin.email">
                </ion-input>
              </ion-item>
            

              <div class="ion-text-center">
                <ion-button color="dark" shape="round" (click)="recoveryPass()" size="medium" class="text-uppercase">
                 hola5
                 </ion-button>
                 <ion-button fill="outline" (click)="showRecover()" *ngIf="Recover" size="medium" color="danger" shape="round"  >
             hola6</ion-button>
              </div>
            </ion-list>
            
            
          </div>
        </ion-col>

      
      <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="9">
        <div class="fondo-login" style="background-image: url(../../../assets/img/flower.jpg);"></div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
